<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!--POLICE-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
      <!--FIN POLICE-->
      <link rel="stylesheet" type="text/css" href={{url_for("static",filename="css/style_end.css")}}>
      <title>Merci!</title>
   </head>
   <body>
      <header>
         <p>Félicitations vous avez répondu<br> correctement au questions!</p>
      </header>
      <main>
         <p>Nous vous contacterons par<br> mail ou téléphone si vous<br> êtes l'heureux élu du voyage<br> dans l'espace!</p>
      </main>
      <footer>
         <p>Merci de votre participation!</p>
      </footer>
   </body>
</html>
